DEBUG = True

ALLOWED_HOSTS = []

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

SOLR_BASEURL_TWEET = 'http://localhost:8983/solr/cricketTweetsCore/select'
SOLR_BASEURL_ARTICLES = 'http://localhost:7574/solr/articlesCore/select'
PLAYER_JSON = '/home/ubuntu/player_json/'
PLAYER_MATCH_JSON = '/home/ubuntu/player_match_json/'

