{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Player Compare</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href='{% static "materialize.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          
</head>
  <nav>
        <div class="nav-wrapper green">
          <a href="/?week=week1" class="waves-effect waves-light green btn-large">Home</a>
          <a href="/playerPage" class="waves-effect waves-light green btn-large">Players</a>
        </div>
  </nav>
<body onLoad="clearForms()" onUnload="clearForms()">

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-lighten-2">Ashes</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your Personalized Cricket Feed!</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src='{% static "images/crick2.jpg" %}' alt="Unsplashed background img 1"></div>
  </div>
  {% block body_block %}{% endblock %}


  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Ashes</h5>
          <p class="grey-text text-lighten-4">This application provides personalized content for cricket fantasy fanatics!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3">Team 15</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--<script src="static/js/materialize.js"></script>-->
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>

<script type="text/javascript">

function clearForms() {
    var i;
    for (i = 0;
    (i < document.forms.length); i++) {
        document.forms[i].reset();
    }
}

  $(document).ready(function() {
    $('select').material_select();
  });


//initial checkCount of zero 
var checkCount = 0;

//maximum number of allowed checked boxes 
var maxChecks = 4;

$(document).ready(function() {

    $("#test").click(function() {
        alert($(':checked').length)
    });

    $(':checkbox[name=category_id]').change(function() {

        //update checkCount 
        checkCount = $(':checked').length;

        if (checkCount >= maxChecks) {
            //alert('you may only choose up to ' + maxChecks + ' options');
            $(':checkbox[name=category_id]').not(':checked').attr('disabled', true);
        } else {
            $(':checkbox[name=category_id]:disabled').attr('disabled', false);
        }

    });

});
</script>


  
  <script type="text/javascript">
    
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawPositiveSentimentChart);
      google.charts.setOnLoadCallback(drawNeutralSentimentChart);
      google.charts.setOnLoadCallback(drawNegativeSentimentChart);

      function drawPositiveSentimentChart() {
        var positive_chart_data = new google.visualization.arrayToDataTable([
          ['Players', 'Positive Tweet Percentage' ],
          ["{{positive_player_list.player_1_name}}", {{positive_player_list.player_1_percentage}}],
          ["{{positive_player_list.player_2_name}}", {{positive_player_list.player_2_percentage}}],
          ["{{positive_player_list.player_3_name}}", {{positive_player_list.player_3_percentage}}]
        ]);

        var positive_chart_options = {
          //title: 'Player Sentiments',
          width: 900,
          height: 300,
          legend: { position: 'none' },
          chart: { title: 'Positive Sentiments',
                   subtitle: 'Popularity by Percentage' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" },
          //color: {'green'}
        };

        var chart = new google.charts.Bar(document.getElementById('pos_sentiment_div'));
        chart.draw(positive_chart_data, positive_chart_options);
      };

      function drawNeutralSentimentChart() {
        var neutral_chart_data = new google.visualization.arrayToDataTable([
          ['Players', 'Neutral Tweet Percentage'],
          ["{{neutral_player_list.player_1_name}}", {{neutral_player_list.player_1_percentage}}],
          ["{{neutral_player_list.player_2_name}}", {{neutral_player_list.player_2_percentage}}],
          ["{{neutral_player_list.player_3_name}}", {{neutral_player_list.player_3_percentage}}]
        ]);

        var neutral_chart_options = {
          //title: 'Player Sentiments',
          width: 900,
          height: 300,
          legend: { position: 'none' },
          chart: { title: 'Neutral Sentiments',
                   subtitle: 'Popularity by Percentage' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" },
          colors: ['#f4b400']
        };

        var chart = new google.charts.Bar(document.getElementById('neutral_sentiment_div'));
        chart.draw(neutral_chart_data, neutral_chart_options);
      };
      function drawNegativeSentimentChart() {
        var negative_chart_data = new google.visualization.arrayToDataTable([
          ['Players', 'Negative Tweet Percentage'],
          ["{{negative_player_list.player_1_name}}", {{negative_player_list.player_1_percentage}}],
          ["{{negative_player_list.player_2_name}}", {{negative_player_list.player_2_percentage}}],
          ["{{negative_player_list.player_3_name}}", {{negative_player_list.player_3_percentage}}]
        ]);

        var negative_chart_options = {
          //title: 'Player Sentiments',
          width: 900,
          height: 300,
          legend: { position: 'none' },
          chart: { title: 'Negative Sentiments',
                   subtitle: 'Popularity by Percentage' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Percentage'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" },
          colors: ['#db4437']
        };

        var chart = new google.charts.Bar(document.getElementById('neg_sentiment_div'));
        chart.draw(negative_chart_data, negative_chart_options);
      };
  </script>

