{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Player Compare</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href='{% static "materialize.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <link href='{% static "style.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='{% static "twitter.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- Load c3.css --> 
  <link href="/static/c3-0.4.10/c3.css" rel="stylesheet" type="text/css"> 
  <script src="/static/c3-0.4.10/c3.min.js"></script>
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <nav>
        <div class="nav-wrapper green">
          <a href="/" id="HomeLink" class="waves-effect waves-light green btn-large">Home</a>
          <a href="/playerPage" id="PlayersLink" class="waves-effect waves-light green btn-large">Players</a>
        </div>
  </nav>
          
</head>
  
<body onLoad="clearForms()" onUnload="clearForms()">

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center green-text text-lighten-2">Ashes</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your Personalized Cricket Feed!</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src='{% static "images/crick2.jpg" %}' alt="Unsplashed background img 1"></div>
  </div>
  {% block body_block %}{% endblock %}


  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Ashes</h5>
          <p class="grey-text text-lighten-4">This application provides personalized content for cricket fantasy fanatics!</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text text-lighten-3">Team 15</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--<script src="static/js/materialize.js"></script>-->
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>

  </body>
</html>

<script type="text/javascript">

function clearForms() {
    var i;
    for (i = 0;
    (i < document.forms.length); i++) {
        document.forms[i].reset();
    }
}

  $(document).ready(function() {
    $('select').material_select();
  });


//initial checkCount of zero 
var checkCount = 0;

//maximum number of allowed checked boxes 
var maxChecks = 4;

$(document).ready(function() {

    $("#test").click(function() {
        alert($(':checked').length)
    });

    $(':checkbox[name=category_id]').change(function() {

        //update checkCount 
        checkCount = $(':checked').length;

        if (checkCount >= maxChecks) {
            //alert('you may only choose up to ' + maxChecks + ' options');
            $(':checkbox[name=category_id]').not(':checked').attr('disabled', true);
        } else {
            $(':checkbox[name=category_id]:disabled').attr('disabled', false);
        }

    });

});
</script>


