{% extends 'index.html' %} {% block body_block %}
<div class="container">


    <div class="section">
        <div class="row">

            {% if errors %}
                        {% for i in errors %}
                                <h3>{{ i }}</h3>
                        {% endfor %}

                {% else %}

        </div>  
        <form method="get" action="/playerPage"> 
            <div class="row">
                <h4 style="color:green"><center>My Player Data</center></h4>    
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="myPlayerSelect">
                        <option value="">Select Player</option>
                        {%for i in myPlayerList %}
                            {% if articles and i.player_name.player_name == myPlayer.player_name.player_name %}
                                 <option value="{{i.player_name.player_name}}" selected>{{i.player_name.player_name}}</option>
                            {% else %}
                                <option value="{{i.player_name.player_name}}">{{i.player_name.player_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Player 1</label>
                </div>
                <div class="col s6">
                    <input id="search" class="btn btn-medium green" type="submit" value="Go" />
                </div>
            </div>
                  
        </form>

        <div class="divider"></div>
        <div class="row">
            <h4 style="color:green"><center>Player Articles</center></h4>    
        </div>

        {% if articles %}

            <div class="row">
                {% for single_article in articles %}
                <div class="col s12">
                  <div class="card green lighten-4">
                    <div class="card-content black-text">
                      <span class="card-title"><center><b>{{single_article.title}}</b></center></span>
                            <table>
                                <tbody>
                                  <tr>
                                    <td>Date</td>
                                    <td>{{single_article.date}}</td>
                                  </tr>
                                  <tr>
                                    <td>Summary</td>
                                    <td>{{single_article.summary}}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <div class="card-action white-text">
                                 <a href="{{single_article.article_url}}" target="_blank" style="color:black" >Read Full Article...</a>
                            </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if playerTweets %}

        <div class="divider"></div>
        <div class="row">
            <h4 style="color:#2196f3"><center>Tweets</center></h4>    
        </div>
        <div class="row">
                {% for single_tweet in playerTweets %}
                <div class="col s12">
                  <div class="card light-blue lighten-3">
                    <div class="card-content white-text">
                      <span class="card-title"><center><b>{{single_tweet.username}}</b></center></span>
                        <div class="card-content">
                            <p><b>{{single_tweet.date}}</b></p>
                            <p><b>{{single_tweet.text}}</b></p>
                        </div>
                        <div class="card-action"> 
                                 <a href="#" target="_blank" style="color:white"><b>Read Tweet on Twitter...</b></a>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <!--<div class="divider"></div>
        <div class="row">
            <h4><center>Twitter Sentiment Analysis</center></h4>    
        </div>
        <div class="divider"></div>
        <div class="row">
            <div id="pos_sentiment_div" style="width: 900px; height: 300px;"></div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div id="neutral_sentiment_div" style="width: 900px; height: 300px;"></div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div id="neg_sentiment_div" style="width: 900px; height: 300px;"></div>
        </div>-->

                {% endif %} <!-- This endif handles closes the else case condition - when no error-->
           
    </div>
</div>
{% endblock %}
