{% extends 'index.html' %} {% block body_block %}
{% load staticfiles %}


<div class="container">


    <div class="section">
        <div class="row">

            {% if errors %}
                        {% for i in errors %}
                                <h3>{{ i }}</h3>
                        {% endfor %}

                {% else %}

        </div> 

         

        {% if article_alert_dict %}

        <div class="row" >
                <h5 style="color:red" class="blink_me"><center><b>News Alert</b></center></h5>    
        </div>

        <div class="row">
                <div class="col s6 offset-s3">
                  <div class="card red lighten-3 ">
                    <div class="card-content black-text">
                      <span class="card-title"><center></center></span>
                            <p class="center-align">Hey! Looks like Kevin Pitersen has been injured, find a quick replacement to prevent your leaderboard rank from slipping.</p>
                    </div>
                  </div>
                </div>
        </div>

        <div class="row">
                <h6 class="flow-text">Related Articles</h6>    
        </div>
        <div class="row">
          {% for player_name,player_data in article_alert_dict.items %}
            
            {% for phrase_article_map in player_data %}
                {% for phrase,article_list in phrase_article_map.items %}
                  {% if article_list %}
                      {% for single_article in article_list %}
                          <div class="col s12">
                              <blockquote>
                                  <center><b><a href="{{single_article.article_url}}" target="_blank" class="black-text">{{single_article.title}}</a></b></center>
                                  <p>{{single_article.formatted_date|date:"F d, Y"}}</p>
                                  <p>{{single_article.summary}}</p>
                              </blockquote>
                              <p>
                                  <div class="chip">
                                    <img src='{% static "images/tag.jpeg" %}'>
                                    {{phrase}}
                                    </div>
                             
                                  <div class="chip">
                                    <img src='{% static "images/tag.jpeg" %}'>
                                     {{player_name}}
                                    </div>
                              </p>
                          </div>
                      {% endfor %}

                  {% endif %}

                {% endfor %}
                
            {% endfor %}
          {% endfor %}
        </div>
        <div class="divider"></div>
        {% endif %}

        <div class="row">
                <h5><center>Want to know how your team is performing in IPL?</center></h5> 
                <h6><center>Match Progress vs. Consistency Adjusted Average</center></h6>                
        </div>
        <div class="row">
                <div id="caalinechart" style="width: 900px; height: 500px;"></div>
        </div>
        <div class="col s12">
            <blockquote>
                <p>Rather than using a traditional metric like batting average, which can be inflated because of good performances in only few matches, we use <b>Consistency Adjusted Average (CAA)</b> as a new performance metric that measures the consistency in a player's performance over the course of the tournament.</p>
            </blockquote>
         </div>
          <div class="divider"></div>
          <div class="row">
                <h6><center>Match Progress vs. Batting Impact Factor</center></h6>    
            </div>
        <div class="row">
                <div id="biflinechart" style="width: 900px; height: 500px;"></div>
        </div>
        <div class="col s12">
            <blockquote>
                <p><b>Batting Impact Factor</b> measures a player’s performance in the context of a given match. It not only takes into account total runs scored by a player but also the pace at which he scored his runs, his batting performance evaluated against other batsmen and conditions like strength of the opponent team, pressure situation, wickets that have fallen when the player comes into bat and other similar parameters.</p>
            </blockquote>
         </div>
        <div class="divider"></div>
        <div class="row">
            <h5><center>Need help Boosting your Fantasy Points?</center></h5>    
        </div>
        <div class="row">
            <h6><center>Check out our Player Recommendations Based on Performance</center></h6>    
        </div>
        <div class="row">
                <div class="col s6">
                  <div class="card red lighten-3">
                    <div class="card-content black-text">
                      <span class="card-title"><center>Player Drop Suggestions</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="CAA">CAA</th>
                                      <th data-field="batting_impact">Batting Impact</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>{{recommendations.drop_player1.player_name}}</td>
                                    <td>{{recommendations.drop_player1.caa}}</td>
                                    <td>{{recommendations.drop_player1.last_bat_impact}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{recommendations.drop_player2.player_name}}</td>
                                    <td>{{recommendations.drop_player2.caa}}</td>
                                    <td>{{recommendations.drop_player2.last_bat_impact}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{recommendations.drop_player3.player_name}}</td>
                                    <td>{{recommendations.drop_player3.caa}}</td>
                                    <td>{{recommendations.drop_player3.last_bat_impact}}</td>
                                  </tr>
                                </tbody>
                            </table>
                    </div>
                  </div>
                  <div class="col s12">
                    <blockquote>
                      <p>{{recommendations.drop_player1.player_name}} and {{recommendations.drop_player2.player_name}} have the least consistency in your team and {{recommendations.drop_player3.player_name}}'s performance was poor in his last match.</p>
                  </blockquote>
                </div>
                </div>

                <div class="col s6">
                  <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title"><center>Player Pick Suggestions</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="CAA">CAA</th>
                                      <th data-field="batting_impact">Batting Impact</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>{{recommendations.pick_player1.player_name}}</td>
                                    <td>{{recommendations.pick_player1.caa}}</td>
                                    <td>{{recommendations.pick_player1.last_bat_impact}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{recommendations.pick_player2.player_name}}</td>
                                    <td>{{recommendations.pick_player2.caa}}</td>
                                    <td>{{recommendations.pick_player2.last_bat_impact}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{recommendations.pick_player3.player_name}}</td>
                                    <td>{{recommendations.pick_player3.caa}}</td>
                                    <td>{{recommendations.pick_player3.last_bat_impact}}</td>
                                  </tr>
                                </tbody>
                            </table>
                    </div>
                  </div>
                  <div class="col s12">
                    <blockquote>
                      <p>{{recommendations.pick_player1.player_name}} and {{recommendations.pick_player2.player_name}} are one of the most consistent batsmen in the tournament while {{recommendations.pick_player3.player_name}} performed exceptionally well in his last match.</p>
                  </blockquote>
                </div>
                </div>

        </div
        

        <div class="divider"></div>
        <div class="row">
            <h6><center>Check out our Player Recommendations Based on Twitter Sentiments</center></h6>    
        </div>


        <div class="row">
                <div class="col s6">
                  <div class="card red lighten-3">
                    <div class="card-content black-text">
                      <span class="card-title"><center>Player Drop Suggestions</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="neg_percentage">Negative %</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>{{top_3_negative_players.player_1_name}}</td>
                                    <td>{{top_3_negative_players.player_1_percentage}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{top_3_negative_players.player_2_name}}</td>
                                    <td>{{top_3_negative_players.player_2_percentage}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{top_3_negative_players.player_3_name}}</td>
                                    <td>{{top_3_negative_players.player_3_negative_percentage}}</td>
                                  </tr>
                                </tbody>
                            </table>
                    </div>
                  </div>
                    <div class="col s12">
                        <blockquote>
                          <p>{{top_3_negative_players.player_1_name}} {{top_3_negative_players.player_2_name}} {{top_3_negative_players.player_3_name}} are the most critcized players on Twitter.</p>
                      </blockquote>
                    </div>
                </div>

                <div class="col s6">
                  <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title"><center>Player Pick Suggestions</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="pos_percentage">Positive %</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for key,value in top_3_pos_replacement.items %}
                                  <tr>
                                    <td>{{key}}</td>
                                    <td>{{value}}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                    </div>
                  </div>
                  <div class="col s12">
                        <blockquote>
                        <p>{% for key,value in top_3_pos_replacement.items %}
                                  {{key}} 
                                {% endfor %} have the most positive public sentiments on Twitter.
                          </p>
                      </blockquote>
                    </div>
                </div>

        </div>


  

        <div class="divider"></div>
        <div class="row">
            <h5><center>Twitter Sentiment Analysis of your Team</center></h5>    
        </div>
        <div class="row">
            <h6><center>Positive Sentiment Timeline</center></h6>    
        </div>
        <div class="row">
            <div id="pos_sentiment_div"></div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <h6><center>Neutral Sentiment Timeline</center></h6>    
        </div>
        <div class="row">
            <div id="neutral_sentiment_div"></div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <h6><center>Negative Sentiment Timeline</center></h6>    
        </div>
        <div class="row">
            <div id="neg_sentiment_div" ></div>
        </div>

        <br/>
        <div class="divider"></div>
        <br/>
        <div class="row">
            <h5><center>Check out our Player Recommendations Based on Upcoming Fixtures </center></h5>    
        </div>

        <div class="row">
        <br/>
                <div class="col s6">
                  <div class="card red lighten-3">
                    <div class="card-content black-text">
                      <span class="card-title"><center>Player to Drop</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="team_name">Team Name</th>
                                      <th data-field="match_count">Match Count</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>{{player_to_bench.0}}</td>
                                    <td>{{player_to_bench.1.0}}</td>
                                    <td>{{player_to_bench.1.1}}</td>
                                  </tr>                                
                                </tbody>
                            </table>                          
                    </div>
                  </div>
                  <br/>
                            <blockquote>Consider replacing {{player_to_bench.0}} with the following options suggested based on number of player matches scheduled in the upcoming week and ranked with the highest CAA and Batting Impact Score.</blockquote>        
                           
                   <br/>         
                  <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title"><center>Suggested Players</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="team_name">Team Name</th>
                                      <th data-field="match_count">Match Count</th>
                                      <th data-field="caa">CAA</th>
                                      <th data-field="last_bat_impact">Batting Impact</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{player1_to_pick.0}}</td>
                                    <td>{{player1_to_pick.1.0}}</td>
                                    <td>{{player1_to_pick.1.1}}</td>
                                    <td>{{player1_to_pick.1.2}}</td>
                                    <td>{{player1_to_pick.1.3}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{player2_to_pick.0}}</td>
                                    <td>{{player2_to_pick.1.0}}</td>
                                    <td>{{player2_to_pick.1.1}}</td>
                                    <td>{{player2_to_pick.1.2}}</td>
                                    <td>{{player2_to_pick.1.3}}</td>
                                  </tr>                               
                                </tbody>
                            </table>
                    </div>
                  </div>
                </div>
                  <div class="col s6"> 
                            <h5 style="color:green"><center>Fixtures For Next Week</center></h5>                 
                            <table class = "bordered highlight">
                                <thead>
                                    <th>Match</th>
                                    <th align="right">Date</th>
                                </thead>
                                <tbody>
                                {% for key, value in fixtures.items %}
                                  <tr>
                                    <td>{{key}}</td>
                                    <td align="right">{{value}}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    </div>

        </div>
        <br/>

        <form method="get" action="/playerCompareAction">
            
            <div class="row">
                <h5><center>Need help comparing player performances for your next draft?</center></h5>    
            </div>
            <div class="row">
                <center><h6>Compare Your Current Team Players with the Rest</h5></center>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="myPlayerSelect">
                        <option value="">Choose First Batsman</option>
                        {%for i in myPlayerList %}
                            {% if message and i.player_name.player_name == myPlayer.player_name.player_name %}
                                 <option value="{{i.player_name.player_name}}" selected>{{i.player_name.player_name}}</option>
                            {% else %}
                                <option value="{{i.player_name.player_name}}">{{i.player_name.player_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Player 1</label>
                </div>

                <div class="input-field col s6">
                    <select name="allPlayerSelect">
                        <option value="">Choose Second Batsman</option>
                        {%for i in allPlayerList %}
                            {% if message and i.player_name == otherPlayer.player_name.player_name %}
                                <option value="{{i.player_name}}" selected>{{i.player_name}}</option>
                            {% else %}
                                <option value="{{i.player_name}}">{{i.player_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Player 2</label>
                </div>
            </div>
            <div class="row">
            <center><input id="search" class="btn btn-medium green" type="submit" value="Submit" /></center>
            </div>
                  
        </form>
        
        {% if otherPlayer %}
            <div class="row">
                <div class="col s6 offset-s3">
                  <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title"><center>Comparison Results</center></span>
                            <table>
                                <thead>
                                  <tr>
                                      <th data-field="player_name">Player Name</th>
                                      <th data-field="CAA">CAA</th>
                                      <th data-field="batting_impact">Batting Impact</th>
                                  </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>{{myPlayer.player_name.player_name}}</td>
                                    <td>{{myPlayer.caa}}</td>
                                    <td>{{myPlayer.last_bat_impact}}</td>
                                  </tr>
                                  <tr>
                                    <td>{{otherPlayer.player_name.player_name}}</td>
                                    <td>{{otherPlayer.caa}}</td>
                                    <td>{{otherPlayer.last_bat_impact}}</td>
                                  </tr>
                                </tbody>
                            </table>
                      <p>{{message}}</p>
                    </div>
                  </div>
                </div>
            </div>

            {% else %}
            <div class="row">
                <div class="col s6 offset-s3">
                  <div class="card light-green lighten-1">
                    <div class="card-content white-text">
                      <span class="card-title"><center>Comparison Results</center></span>
                           
                      <p>{{message}}</p>
                    </div>
                  </div>
                </div>
            </div>


        {% endif %}
      

                {% endif %} <!-- This endif handles closes the else case condition - when no error-->
           
    </div>
</div>

<script type="text/javascript">


var chart = c3.generate({
    bindto: '#caalinechart',
    data: {
        columns: [
            {% for key, value in caa_dict.items %}
              ['{{key}}', {{value}}],
            {% endfor %}
        ], 
        type: 'area-spline'
    }, 
    axis : {
      x: {
        label: 'Match Number',
        min : 0
      },
      y: {
        label: 'CAA score'
      },

    }
});

setTimeout(function () {
    chart.transform('spline');
}, 1000);

setTimeout(function () {
    chart.transform('area');
}, 3000);

setTimeout(function () {
    chart.transform('line');
}, 5000);

setTimeout(function () {
    chart.transform('bar');
}, 7000);



var chart2 = c3.generate({
    bindto: '#biflinechart',
    data: {
        columns: [
            {% for key, value in bif_dict.items %}
              ['{{key}}', {{value}}],
            {% endfor %}
        ],
        type: 'area-spline'
    }, 
    axis : {
      x: {
        label: 'Match Number',
        min : 0
      },
      y: {
        label: 'Batting Impact Score'
      },

    }
});

setTimeout(function () {
    chart2.transform('spline');
}, 10000);

setTimeout(function () {
    chart2.transform('area');
}, 13000);

setTimeout(function () {
    chart2.transform('line');
}, 16000);

setTimeout(function () {
    chart2.transform('bar');
}, 20000);

var chartPosSentiment = c3.generate({
    bindto: '#pos_sentiment_div',
    data: {
        
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x', '2016-04-12','2016-04-16','2016-04-20','2016-04-24'],
            {% for key, value in positive_weekly.items %}
              ['{{key}}', {{value}}],
            {% endfor %}
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        },
        y: {
          label: 'Percentage'
        },
    }
});

var chartNegativeSentiment = c3.generate({
    bindto: '#neg_sentiment_div',
    data: {        
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x', '2016-04-12','2016-04-16','2016-04-20','2016-04-24'],
            {% for key, value in negative_weekly.items %}
              ['{{key}}', {{value}}],
            {% endfor %}
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        },
        y: {
          label: 'Percentage'
        },
    }
});

var chartNeutralSentiment = c3.generate({
    bindto: '#neutral_sentiment_div',
    data: {
        
        x: 'x',
//        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
        columns: [
            ['x', '2016-04-12','2016-04-16','2016-04-20','2016-04-24'],
            {% for key, value in neutral_weekly.items %}
              ['{{key}}', {{value}}],
            {% endfor %}
        ]
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%Y-%m-%d'
            }
        },
        y: {
          label: 'Percentage'
        },
    }
});

</script>
{% endblock %}

