{% extends 'index.html' %} {% block body_block %}

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Sentiment', 'Percentage'],
          ['Positive Sentiment', {{player_sentiment_dict.positive_percentage}}],
          ['Negative Sentiment', {{player_sentiment_dict.negative_percentage}}],
          ['Neutral Sentiment', {{player_sentiment_dict.neutral_percentage}}]
        ]);

        var options = {
          title: '{{player_sentiment_dict.player_name}}'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">

         $('input[name=week]').val('week3');

    </script>


<div class="container">


    <div class="section">
        <div class="row">

            {% if errors %}
                        {% for i in errors %}
                                <h3>{{ i }}</h3>
                        {% endfor %}

                {% else %}

        </div>  
        <form method="get" action="/playerPage"> 
            <div class="row">
                    <p>
                        {% if request.GET.week == 'week1' %}
                      <input name="week" type="radio" id="week1" value="week1" checked />
                        {% else %}
                      <input name="week" type="radio" id="week1" value="week1"/>
                        {% endif %}
                      <label for="week1">Week 1</label>
                    </p>
                    <p>
                      {% if request.GET.week == 'week2' %}
                      <input name="week" type="radio" id="week2" value="week2" checked/>
                        {% else %}
                      <input name="week" type="radio" id="week2" value="week2" />
                        {% endif %}
                      <label for="week2">Week 2</label>
                    </p>
                    <p>
                      {% if request.GET.week == 'week3' %}
                      <input name="week" type="radio" id="week3" value="week3" checked/>
                        {% else %}
                      <input name="week" type="radio" id="week3" value="week3"/>
                        {% endif %}
                      <label for="week3">Week 3</label>
                    </p>
                </div>
            <div class="row">
                <h4 style="color:green"><center>My Player Data</center></h4>    
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="myPlayerSelect">
                        <option value="">Select Player</option>
                        {%for i in myPlayerList %}
                            {% if articles and i.player_name.player_name == myPlayer.player_name.player_name %}
                                 <option value="{{i.player_name.player_name}}" selected>{{i.player_name.player_name}}</option>
                            {% else %}
                                <option value="{{i.player_name.player_name}}">{{i.player_name.player_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Player 1</label>
                </div>
                <div class="col s6">
                    <input id="search" class="btn btn-medium green" type="submit" value="Go" />
                </div>
            </div>
                  
        </form>

        

        {% if articles %}
        <div class="divider"></div>
        <div class="row">
            <h4 style="color:green"><center>Player Articles</center></h4>    
        </div>

            <div class="row">
                {% for single_article in articles %}
                <div class="col s12">
                  <div class="card green lighten-4">
                    <div class="card-content black-text">
                      <span class="card-title"><center><b>{{single_article.title}}</b></center></span>
                            <table>
                                <tbody>
                                  <tr>
                                    <td>Date</td>
                                    <td>{{single_article.date}}</td>
                                  </tr>
                                  <tr>
                                    <td>Summary</td>
                                    <td>{{single_article.summary}}</td>
                                  </tr>
                                </tbody>
                            </table>
                            <div class="card-action white-text">
                                 <a href="{{single_article.article_url}}" target="_blank" style="color:black" >Read Full Article...</a>
                            </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if playerTweets %}

        <div class="divider"></div>
        <div class="row">
            <h4 style="color:#2196f3"><center>Tweets</center></h4>    
        </div>
        <div class="row">
                {% for single_tweet in playerTweets %}
                <div class="col s12">
                  <div class="card light-blue lighten-3">
                    <div class="card-content white-text">
                      <span class="card-title"><center><b>{{single_tweet.username}}</b></center></span>
                        <div class="card-content">
                            <p><b>{{single_tweet.date}}</b></p>
                            <p><b>{{single_tweet.text}}</b></p>
                        </div>
                        <div class="card-action"> 
                                 <a href="#" target="_blank" style="color:white"><b>Read Tweet on Twitter...</b></a>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

    {% if playerTweets %}
        <div class="divider"></div>
        <div class="row">
            <h4 style="color:green"><center>Recent Match Stats</center></h4>    
        </div>

                <div class="row">
                
                <div class="col s12">                
                            <table class = "bordered highlight">
                                <thead>
                                    <th>Date</th>
                                    <th>Runs</th>
                                    <th>Fours</th>
                                    <th>Sixes</th>
                                    <th>Strike Rate</th>
                                    <th>Opponent Team</th>
                                    <th>Match Result</th>
                                </thead>
                                <tbody>
                                {% for match_record in match_data %}
                                      <tr>
                                        <td>{{match_record.match_date}}</td>
                                        <td>{{match_record.runs}}</td>
                                        <td>{{match_record.fours}}</td>
                                        <td>{{match_record.six}}</td>
                                        <td>{{match_record.strike_rate}}</td>
                                        <td>{{match_record.opponent_team_name}}</td>
                                        <td>{{match_record.match_status}}</td>
                                      </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                    </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <h4 style="color:#2196f3"><center>Sentiment Analysis</center></h4>    
            </div>
            <div class="row">
                <div id="piechart" style="width: 900px; height: 500px;"></div>
            </div>
        {% endif %}
                {% endif %} <!-- This endif handles closes the else case condition - when no error-->
           
    </div>
</div>
{% endblock %}
